#Footer{

    @include FlexBoxBasic( $direction:column ,$justify:center,$items:flex-start,$content:flex-start);
    //margin-top: 5rem;
    height: max-content;
    //display: none;
    margin-bottom: 1rem;
    h3{
        font-size: 1.1rem;
        font-weight: 100;
        margin-bottom: 0;

        padding: 7px 10px 5px;
        border-radius: 5px 5px 0 0;
        a{
            font-size: 1rem;
            font-weight: 800;
            color:$Color2;
        }
    }
    .InnerFooter{
    
        width: 100%;
        @include FlexBoxBasic( $direction:row ,$justify:space-evenly,$items:center,$content:space-evenly);
   
        .PartnerZoneLinks{
            flex-grow: 1;
            flex-basis: 49%;
            margin: 0 .5%;
            border-top:1px solid $Color3;
            @include FlexBoxBasic( $direction:row ,$justify:center,$items:center,$content:center);
            background-color: #f6f6f6;
            color: $Color2;
            a{
                flex-grow: 1;
                padding: .1rem .5rem 1rem;
                color: $Color2;
                text-align: left;
                min-height: 80px;
                margin-top: .5rem;
                text-shadow: 0 0 0 rgba(0, 0, 0, 0);
                -webkit-transition: all .5s; /* Safari prior 6.1 */
                transition: all .5s;
                font-weight: 100;
            }

            a:hover{
                //margin-top: .3rem;
                text-shadow: 0 0 0 rgba(0, 0, 0, 0.35);
                text-decoration: underline;
            } 
        }
        
    }
    


    div.GlabsContainer{
        @include BreakPoints;
        div.ResponsiveContainer{
            
            @include FlexBoxBasic( $direction:row, $justify:space-between);
            @import "./Share_Bar";
            @import "./PartnerZone";
           
        }  
    }   
}


/* Smartphones (portrait and landscape) ----------- */
/* Large Phones ----------- */
@media only screen and (min-width : 576px) and (max-width : 768px) {
   
}

/* Medium Phones ----------- */
@media only screen and (max-width : 576px) {
    #Footer{
        .InnerFooter{
            @include FlexBoxBasic( $direction:row ,$justify:space-evenly,$items:center,$content:space-evenly,$wrap:wrap);}
    }
}

/* Small Phones ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    
}
    
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
   
}