 /******************************************* */
    // Colors
    
    $Color1:#fefdf8;
    $Color2:#000;  
    $Color3:#69D1CA; 
    $Color4:#9B9B9B; 
    $Color5:#69D1CA; 

/******************************************* */