/******************************************* */
    // Header
     
    $HeaderHeight:80vh;
    $headerHeightMed:80vh;
    $headerHeightSmall:80vh;

/******************************************* */
    // Sponsored Top 
    $LogoSize:55px;
    $SpanSize:.8em;

/******************************************* */
    // Project Title Bar

    $TitleWidth:70vw;
    $TitleWidthSmall:100%;
    $TitleColor:$Color2;

    $Title-Large: (
        width : 100%,
        padding : 2em 0,
        text-indent: 0
    );

    $Title-Small: (
        width : 100%,
        padding : 2em 0,
        text-indent: 0
    );
/******************************************* */

