/******************************************* */
    // Pathing
    $http:'https://gdn-cdn.s3.amazonaws.com/embed/2020/03/ConvidCharts/';
    $path:'assets/';
    $images:'images/';
    $fonts:'fonts/';

/******************************************* */
    // Application
    $AppPath:"../../js/Application/";
    $AppPathName:"Default/";
    $AppPathFolder:"scss/Application";