#MainTitle{
    
    @include FlexBoxBasic( $direction:column ,$justify:flex-start, $items:flex-start, $content:flex-start );
    @include BreakPoints;

    .TitleTab{
      overflow: hidden;
      width: 50%;
      
      .InnerTitleTab{
      background-color: $Color5;
     
      padding: 1.2em;
      -webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: .5s;
          h1{
            font-size: 1rem;
            margin: 0;
            line-height: 0;
          }
      }
    }

    .SponserTab{
      width: 10%;
      align-self: flex-end;
      position: absolute;
  
      overflow: hidden;
      height: 100px;
      
        .SponserTabInner{
          opacity: 1;
          padding-top: .5em;

            .ClientDetails{
              @include FlexBoxBasic( $direction:column ,$justify:center, $items:center, $content:center);
              span{
                font-size: .8rem;
              }
              img{
                width: 80px;
              }
            }
        }
/*
        .SponserTabInner.ShowTab{
          -webkit-animation: slide-in-top  2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top  2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: .5s;
        }
        .SponserTabInner.HideTab{
          opacity: 1;
          -webkit-animation: slide-Out-top   4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-Out-top   4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: .5s;
        }
      */
      
    }

#TitleContainer{
  @include BreakPoints;

   
    .Title-Container{
        background-color: $TitleColor;
        @each $name, $size in $Title-Large{  #{$name} :$size; }

        -webkit-animation: Fill-Title  1.4s ease-in-out both;
        animation: Fill-Title  1.4s ease-in-out  both;
        animation-delay: 0s;
       
       

        h1{ 
                margin: 0;
                padding: 0 0 0 1rem; 
               -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation-delay: .8s;
                color: $Color1;
        }
        h1+h1{ 
                -webkit-animation: tracking-in-expand 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation-delay: .8s;
         }
    }


    @media only screen  and (min-width : 1200px) {}
    @media only screen  and (min-width : 990px) and (max-width : 1024px) {}
    @media only screen  and (max-width : 568px) {
        .Title-Container{
            @each $name, $size in $Title-Small{  #{$name} :$size; }

            -webkit-animation: Fill-Title-Small  1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: Fill-Title-Small   1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }
    }
}
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
   
    40% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
 
  @-webkit-keyframes Fill-Title {
    0% {
      width:0%;
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
       width:100%;
      opacity: 1;
    }
  }

  @-webkit-keyframes Fill-Title-Small {
    0% {
      width:0vw;
      opacity: 0;
    }

    50% {
      width:1vw;
      opacity: 0;
    }
    100% {
       width:$TitleWidthSmall;
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-6-14 15:46:50
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-21 14:40:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-Out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
  
            -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-Out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

