#SocialMediaIcons{
    padding-bottom: 2em;
    .GlabsContainer{
        @include FlexBoxBasic( $direction:column ,$justify:center,$items:center,$content:flex-start);
       
        .ResponsiveContainer{
            @include BreakPoints;

            #ShareMe{
                padding: 1rem 0;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                

                h3{
                    margin: 0;
                    display: none;
                }
                ul.ShareButtons{
                    //border-bottom: 1px solid $Color3;
                    
 
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    align-content: flex-start;
                    padding: 0;
                    margin: 0 0 1rem 0;
                    list-style: none;
                    li{
                        margin: .2rem;
                        cursor: pointer;

                            svg{ 
                                background-color: transparent !important;
                                
                                path{ fill:$Color1;}
                                } 
                            circle,rect{
                                fill:$Color3;
                            }
                    }
                    li.Facebook{circle,rect{fill:#005689;}}
                    li.Twitter{circle,rect{fill:#03B3EE;}}
                    li.Linkden{circle,rect{fill:#005689;}}
                    li.Whatsapp{circle,rect{fill:#075e54;}}
                    li.Email{circle,rect{fill:#767676;}}

                    
                    
                }
            }

            #ShareMe.show{
                ul{
                    li{
                        -webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        animation-delay: 0.1s;
                    }
                    li:nth-child(2){ animation-delay: 0.2s; }
                    li:nth-child(3){ animation-delay: 0.3s; }
                    li:nth-child(4){ animation-delay: 0.4s; }
                    li:nth-child(5){ animation-delay: 0.3s; }
                    li:nth-child(6){ animation-delay: 0.2s; }
                    li:nth-child(7){ animation-delay: 0.1s; }
                }
            }
            #ShareMe.hide{
                ul{
                    li{
                        opacity: 0;
                    }
                }
            }


            .ClientDetails{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: flex-start;

                img{ 
                        width:80px;
                        margin: 0 1rem;
                }
            }

        }
    } 
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-21 10:46:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

    @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  