#LoadingScreen{
    
    @include FlexBoxBasic();
    @include FullHeightWidth(#fff);

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#314c56+0,21333a+100 */
    background: #fff; /* Old browsers */
    //background: -moz-linear-gradient(top,  rgba(49,76,86,1) 0%, rgba(33,51,58,1) 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top,  rgba(49,76,86,1) 0%,rgba(33,51,58,1) 100%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom,  rgba(49,76,86,1) 0%,rgba(33,51,58,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#314c56', endColorstr='#21333a',GradientType=0 ); /* IE6-9 */


    .lds-ripple {
      @include FlexBoxBasic();
      display: inline-block;
      position: relative;
      width: 310px;
      height: 310px;

    }
    .lds-ripple div {
      position: absolute;

      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      border:2px solid $Color5;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
      border-color:$Color1;
    }
    .lds-ripple div:nth-child(3) {
      animation-delay: -1s;
      border-color:$Color3;
    }

    @keyframes lds-ripple {
      0% {
        top: 50%;
        width: 0;
        height: 0;
        opacity: 1;
      
      }
      100% {
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        
      }
    }
 
    


}