@at-root {
  
  @font-face {
      font-display: swap;
      font-family: "GH Guardian Headline";
      font-weight: bold;
      src: url("#{$http+$fonts}GHGuardianHeadline-Bold.woff2") format("woff2"),
           url("#{$http+$fonts}GHGuardianHeadline-Bold.woff") format("woff");
    }
  
    @font-face {
      font-family: "Guardian Headline Regular";
      src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2") format("woff2"),
      url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff") format("woff"),
      url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
    font-family: "Guardian Headline Bold";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff2") format("woff2"),
    url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff") format("woff"),
    url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal; 
}

    @font-face {
      font-display: swap;
      font-family: "TS3 Text Sans";
      src: url("#{$http+$fonts}TS3TextSans.woff2") format("woff2"),
           url("#{$http+$fonts}TS3TextSans.woff") format("woff");
    }
  
    @font-face {
      font-display: swap;
      font-family: "TS3 Text Sans";
      font-weight: bold;
      src: url("#{$http+$fonts}TS3TextSans-Bold.woff2") format("woff2"),
           url("#{$http+$fonts}TS3TextSans-Bold.woff") format("woff");
    }
    @font-face {
      font-family: "Guardian Titlepiece";
      src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"),
      url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"),
      url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
  }
}