
/************ 
** Application Variables
*************/

// Import Application Elements

.recharts-cartesian-axis-tick {    
    font-size: .8rem;
    font-family: $FontFamilyBody;
}
.Redrawing{
   /* position: absolute;
    top:0;
    left:0;*/

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,.8);
    z-index: 100;
    display: flex; 
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    h1{
        font-size: 1.2rem;
    }

} 
#Application{
    color:black; 
    padding: 0rem;
    margin: 0;
     background: #FFF;
    position: relative;
    margin: 0 !important;
    //border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;



/******************************************* */
/*  Category selector, to be aligned with outer template */
    .CategorySelector{
        border-bottom: 1px solid #dcdcdc;
        .CategoryContainer{
            max-width: 620px;
            position: relative;
            background-color: #ebebeb;
            padding: 25px 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            p{
                font-weight: 800;
                margin: 0 10px;
            }
            select{
                padding: 0;
                height: auto;
            }
        }
        .CategoryContainer::before{
            content: "";
            border-left: 1px solid #dcdcdc;
            left: -10px;
            width: 4px;
            position: absolute;
            height: 85px;
            z-index: 100;
            top: 0;
        }
    }


        // Selector Media Query inline with Template
        
        @media only screen  and  (min-width: 61.25em){
            .CategorySelector{
                padding-left: 160px !important;
            }
        }

        @media only screen  and  (min-width: 71.25em){
            .CategorySelector{
                padding-left: 240px !important;
            }
        }

/******************************************* */



    .headline-container{
        padding: 1rem 0 ;
        h3{
            font-family: $HeaderFont;
            font-size: 21px;
            margin: 6px;
        }
        .subTitle{
            margin: 6px;
            font-size: 16px;
            line-height: 20px;
            color: #333333;
            font-family: "Guardian Egyptian Web", Georgia, serif;
        }
    }

     a {
            color:#005689;
            text-decoration: none !important;
            border-bottom: 0.0625rem solid #dcdcdc;
            -webkit-transition: border-color 0.15s ease-out;
            transition: border-color 0.15s ease-out;
        }

        a:hover {
            border-color: #6e99b3;
        }

    /* Controls */
    .Controls{
        display: flex;
        width: 100%;
        border-top: 2px solid #c70000;
        padding: .5rem 0 ;
        position: sticky;
        top: 0;
        background-color: white;
        //border-bottom: 1px solid #999;
        z-index: 100;

        /* Global Control Styles*/
          // Layout
        .sml{
            flex-basis: 20%;
            padding: 0 2%;
        }
        .lrg{
            flex-basis: 36%;
            padding: 0 2%;
            #keyContainer{
                width: 100%;
            }
        }

        // Added this here for ease of use... 
        @media only screen  and (max-width : 1024px) {
            flex-wrap: wrap;
            .sml{
                flex-basis: 20%;
                padding: 0 1.5%;
            } 
            .lrg{
                flex-basis: 30%;
                padding: 0% 0.5% 0;
            }
        }
        @media only screen  and (max-width : 800px) {
            flex-wrap: wrap;
            .sml{
                flex-basis: 30%;
                padding: 0 1.5%;
            } 
            .lrg{
        
                flex-basis: 90%;
                padding: 2% 5% 0;
            }
        }

        div{
            p{
                padding: 0;
                margin: 0;
                font-size: .8rem;
                color: #767676;
                font-size:14px;
                font-family: 'Guardian Text Sans Web', Arial, 'Lucida Grande', sans-serif;
            }

            select{
                width: 100%;
            }

            button{
                background-color: #c70000;
                border-radius: 62.5rem;
                border: none;
                display: inline-block;
                outline: 0;
                box-sizing: border-box;
                font-size: 12px;
                line-height: 16px;
                font-weight: 100;
                font-family: $FontFamilyBody;
                color: #FFF;
                padding: 4px 10px;
                margin: 1px 1px;
                text-align: center;
                cursor: pointer;
                width: 100%;
            }
            button:hover{
                background-color:#9a0505 ;            
            }

        }


      
       
       
       
    }





    /* Chart Container ?*/

    .ChartContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap:wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
       

        .GroupContainer{
            width: 100%;  
            h1{
                    font-size: 26px;
                    line-height: 20px;
                    color: #c70000;
                    border: none;
                    margin: 0 0 20px 15px;
                    padding: 0;
                    -webkit-font-smoothing: antialiased;
                    font-family: $FontFamilyHeaderRegular;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
            } 
        }

        .FullChartList {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            padding: 0px;
            margin: 0;
            align-items: stretch;
            align-content: flex-start;
            .ChartPod{
                
                //flex-basis: 24.5%;
                flex-basis: 32.5%;
                margin: 0 0 1rem 0;
                height: 300px;
                h2{
                    font-size: 16px;
                    line-height: 20px;
                    color: #333333;
                    border: none;
                    margin: 0 0 0 60px;
                    padding: 0;
                    -webkit-font-smoothing: antialiased;
                    font-family: $FontFamilyHeaderRegular;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                }
                .Meter{
                    margin-top: -10px;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    p{  
                        margin: 0;
                        display: none;
                        padding: 0;
                        text-align: center;
                        font-family: $FontFamilyBody;
                        font-size: .8rem;
                    }
                    img{
                        display: none;
                        width: 80%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    
        @media only screen  and (min-width : 1024px) and (max-width:1200px){}

        @media only screen  and (min-width : 768px) and (max-width:1024px){
            .FullChartList{
                .ChartPod{
                    flex-basis: 49%;
                }
            }
        }
        
        @media only screen  and (max-width : 768px) {
            .FullChartList{
                .ChartPod{
                    flex-basis: 49%;
                }
            }
        }
        @media only screen  and (max-width : 576px) {
            .FullChartList{
                .ChartPod{
                    flex-basis: 100%;
                }
                
            }            
        }
    }

    .Large{
        div{
            flex-basis: 50%;
        }
    }
   

    .footer{
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
        color: #767676;
        font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    }

    .keyLabel {
        fill: #767676;
        font-size:12px;
        font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    }

    #cars {
        font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    }
}


